
.search-box{
  background-color: #373842;
  border-radius: 16px;
  display: flex;
  align-items: center;
  
}

.search-box:focus:focus-visible,
.search-box:hover{
  border-color: #E22B86;
  border-right: #373842;
  
}

.search-input {
  background-color: #373842;  
  border: 2px solid transparent;
  padding: 16px;
  border-radius: 16px 0px 0px 16px;
  width: 100%;
  color: white;
}

.search-icon{
  background-image: url(../img/search-icon.svg);
  width: 16px;
  height: 16px; 
  margin: 0px 16px;
}

.search-input:focus:not(:focus-visible) {
  outline: none;
}

.search-input:focus:focus-visible,
.search-input:hover {
  border-color: #E22B86;
}